<a href="https://colab.research.google.com/github/brunogomesmkt/SKLearn---Classificacao/blob/main/Classifica%C3%A7%C3%A3o_de_dados_de_acesso_de_um_site_Alura_by_Bruno_Gomes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CLASSIFICAÇÃO DE DADOS DE ACESSO DE UM SITE**

In [4]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

**Alterando nos nomes das Colunas**

In [9]:
mapa = {
    'home' : 'principal',
    'how_it_works' : 'como funciona',
    'contact' : 'contato',
    'bought' : 'comprou'
}
dados = dados.rename(columns= mapa)

In [10]:
x = dados[['principal','como funciona','contato']]
y = dados[['comprou']]  #Se a pessoa comprou ou não no site
y.head()

In [11]:
dados.shape

(99, 4)

**Dados de teste e Dados de treino**

In [12]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]
teste_y.shape

print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

**Treino dos Dados**

In [13]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acurácia fi %.2f%%' % acuracia)

A acurácia fi 95.83%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

**Usando a biblioteca para separar Treino e Teste**

In [29]:
#Usando o teste Split
from sklearn.model_selection import train_test_split


#Treino dos Dados
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED, test_size = 0.25,
                                                        stratify = y)
print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acurácia fi %.2f%%' % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia fi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [30]:
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [31]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64